
.bg-1{
  height: 100vh;
  background-color: #474e5d; 
  color: #ffffff;
}
.margin {margin-bottom: 45px;}
.bg-2 { 
      background-color: #fff;
      
  }
.container-fluid-header {
    padding-top: 70px;
    padding-bottom: 70px;
}
